@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap');

*{
    padding: 0;
    margin: 0;
}

*::selection{
    color: #000;
    background-color: yellow;
}

#container{
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainFrame{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.childFrames{
    margin: 1.8% 0%;
    width: 100%;
}

#frame-1{
    font-family: Baloo, 'Baloo Bhai 2', cursive;
    font-size: 5vw;
    text-align: center;
}

#frame-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#frame-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dates{
    font-size: 2.5vw;
    border: 0;
    background: whitesmoke;
    font-family: 'Times New Roman', Arial;
    font-weight: bolder;
    outline: none;
    cursor: pointer;
    text-align: center;
    /* width: 45%; */
    border-radius: 20px;
    padding: 1% 1.5%;
}

.rateInputs{
    font-size: 3vw;
    width: 49%;
    border: 0;
    background: aqua;
    font-family: 'Times New Roman', Arial;
    font-weight: bolder;
    outline: none;
    text-align: center;
    border-radius: 20px;
}

.rateInputs::placeholder{
    color: black;
    font-size: 70%;
}

#frame-4{
    text-align: center;
}

#calculateAmount{
    width: 100%;
    border-radius: 15px;
    outline: none;
    border: 0;
    background: rgb(255,255,0);
    font-family: Baloo, 'Baloo Bhai 2', cursive;
    font-size: 2.7vw;
    cursor: pointer;
}

#calculateAmount:active{
    box-shadow: 4px 4px 0px #000;
}

#calculateAmount:disabled{
    color: green;
    background: yellowgreen;
    cursor: not-allowed;
}

#alldates{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 2vw;
    font-weight: normal;
}

#frame-7{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.days-button{
    padding: 0.5% 3%;
    margin: 0 1%;
    border-radius: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    background: linear-gradient(to right,rgb(192, 1, 192),rgb(71, 58, 247));
    /* background: linear-gradient(135deg,rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247)); */
    color: white;
    font-size: 2vw;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

#messageScreen{
    display: block;
    text-align: center;
    font-family: Baloo, 'Baloo Bhai 2', cursive;
    border: none;
    font-size: 2vw;
    text-align: center;
    margin-top: 10px;
}

#printPage{
    width: 100%;
    border-radius: 15px;
    outline: none;
    border: 0;
    color: white;
    background: lightseagreen;
    font-family: Baloo, 'Baloo Bhai 2', cursive;
    font-size: 2.7vw;
    cursor: pointer;
    user-select: none;
}

#printPage:active{
    color: lightseagreen;
    background: white;
}

#frame-3-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
}

#frame-3-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
}

.spans{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vw;
    color: black;
    font-weight: bold;
    text-align: center;
}

#datesWithPrice{
    margin-top: 2%;
    width: 100%;
    height: 0vh;
    font-size: 2vw;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 0;
    outline: none;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    flex-direction: column;
    background: whitesmoke;
}

.dateWithPriceCheck{
    /* width: 10%; */
    padding: 0.5% 0.5%;
    background: whitesmoke;
    display: flex;
    align-items: center;
}

.checkLabes{
    margin-left: 2%;
}

.chkbtn{
    margin-top: 2%;
    margin-left: 2%;
    cursor: pointer;
}

#datesWithPrice:focus{
    border: 0;
    outline: none;
}

/* MEDIA QUERY */

@media only screen and (max-width:700px){
    .childFrames{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .less700{
        width: 100%;
        margin: 1% 0;
    }

    #frame-3-1{
        width: 100%;
    }

    #frame-3-2{
        width: 100%;
    }

    #container{
        margin-top: 0vh;
    }
}
