@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

*::selection{
    color: #000;
    background-color: yellow;
}

#container{
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainFrame{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5%;
}

.childFrames{
    margin: 1.8% 0%;
    width: 100%;
}

#frame-1{
    font-family: Baloo, 'Baloo Bhai 2', cursive;
    font-size: 5vw;
    text-align: center;
}

#frame-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#frame-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dates{
    font-size: 2vw;
    border: 0;
    background: whitesmoke;
    font-family: 'Times New Roman', Arial;
    font-weight: bolder;
    outline: none;
    cursor: pointer;
    text-align: center;
    /* width: 45%; */
    border-radius: 20px;
    padding: 1% 1.5%;
}

.rateInputs{
    font-size: 3vw;
    width: 49%;
    border: 0;
    background: aqua;
    font-family: 'Times New Roman', Arial;
    font-weight: bolder;
    outline: none;
    text-align: center;
    border-radius: 20px;
}

.spans2{
    display: block;
    font-size: 3vw;
    width: 0%;
    border: 0;
    background: aqua;
    font-family: 'Times New Roman', Arial;
    font-weight: bolder;
    outline: none;
    text-align: center;
    border-radius: 20px;
}

.rateInputs::placeholder{
    color: black;
    font-size: 70%;
}

#frame-4{
    text-align: center;
}

#calculateAmount{
    width: 100%;
    border-radius: 15px;
    outline: none;
    border: 0;
    background: rgb(255,255,0);
    font-family: Baloo, 'Baloo Bhai 2', cursive;
    font-size: 2.7vw;
    cursor: pointer;
}

#calculateAmount:active{
    box-shadow: 4px 4px 0px #000;
}

#calculateAmount:disabled{
    color: green;
    background: yellowgreen;
    cursor: not-allowed;
}

#alldates{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 2vw;
    font-weight: normal;
}

#frame-7{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.days-button{
    padding: 0.5% 3%;
    margin: 0 1%;
    border-radius: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    background: linear-gradient(92deg,rgb(192, 1, 192),rgb(71, 58, 247));
    /* background: linear-gradient(0deg,rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247),rgb(192, 1, 192),rgb(71, 58, 247)); */
    color: white;
    font-size: 2vw;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

#messageScreen{
    display: block;
    text-align: center;
    font-family: Baloo, 'Baloo Bhai 2', cursive;
    border: none;
    font-size: 2vw;
    text-align: center;
    margin-top: 10px;
}

#printPage{
    width: 100%;
    border-radius: 15px;
    outline: none;
    border: 0;
    color: white;
    background: lightseagreen;
    font-family: Baloo, 'Baloo Bhai 2', cursive;
    font-size: 2.7vw;
    cursor: pointer;
    user-select: none;
}

#printPage:active{
    color: lightseagreen;
    background: white;
}

#frame-3-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
}

#frame-3-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
}

.spans{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    color: black;
    font-weight: bold;
    text-align: center;
}

#datesWithPrice{
    margin-top: 2%;
    width: 100%;
    height: 0vh;
    font-size: 2vw;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 0;
    outline: none;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    flex-direction: column;
    background: whitesmoke;
}

.dateWithPriceCheck{
    /* width: 10%; */
    padding: 0.5% 0.5%;
    background: whitesmoke;
    display: flex;
    align-items: center;
}

.checkLabes{
    margin-left: 2%;
}

.chkbtn{
    margin-top: 2%;
    margin-left: 2%;
    cursor: pointer;
}

#datesWithPrice:focus{
    border: 0;
    outline: none;
}

#frame-10{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
	display: none;
}

/* #pngLogo{
    margin-right: 2%;
    box-shadow: -5px 5px 3px red;
} */

/* #jpgLogo{
    margin-left: 2%;
    box-shadow: 5px 5px 3px red;
} */

/* #pdfLogo{
    box-shadow: 0px 5px 3px red,0px -5px 3px red;
} */

/* #pngLogo:active{
    transform: translateX(-5px) translateY(5px);
    box-shadow: 0 0 0 transparent;
} */

/* #jpgLogo:active{
    transform: translateX(5px) translateY(5px);
    box-shadow: 0 0 0 transparent;
} */

/* #pdfLogo:active{
    box-shadow: 0 0 0 transparent;
} */

.logos{
    cursor: pointer;
    margin: 3% 0;
    font-size: 2.2vw;

}

.logos::before{
    box-shadow: 4px 4px 0px black;
}

.logos:nth-child(1){color: crimson;}
.logos:nth-child(2){color: red;}
.logos:nth-child(3){color: seagreen;}

/* MEDIA QUERY */

@media only screen and (max-width:700px){

    #mainFrame{
        width: 80%;
    }

    .childFrames{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .less700{
        width: 100% !important;
        margin: 1% 0;
    }

    #frame-3-1{
        width: 100%;
    }

    #frame-3-2{
        width: 100%;
    }

    #container{
        margin-top: 0vh;
    }
    
    #frame-10{
    	justify-content: center;
    	flex-direction: column;
    }

    .logos::before{
        box-shadow: 2px 2px 0px black;
    }

    #frame-1{
        font-size: 2pc !important;
    }

    #normalrateEntry{
        font-size: 1.35pc;
        padding: 2% 0;
        margin: 2% 0;
    }
    #weekendrateEntry{
        font-size: 1.35pc;
        padding: 2% 0;
        margin: 2% 0;
    }

    .spans2{
        font-size: 1.35pc;
        padding: 2% 0;
        margin: 2% 0;
        display: none;
    }

    #FROMDATE{font-size: 1.25pc;}
    #TODATE{font-size: 1.25pc;}

    #fromdate{font-size: 1.25pc !important;}
    #todate{font-size: 1.25pc !important;}

    .days-button{
        font-size: 2pc;
        padding: 1.8% 0;
        font-family: 'Tangerine', cursive;
    }

    #alldates{
        font-size: 1pc !important;
    }

    #calculateAmount{background: linear-gradient(to right, gold, yellow, gold);font-size: 1.25pc;padding: 1.2% 0;}
    #printPage{font-size: 1.25pc;padding: 1.35% 0;}

    #messageScreen{font-size: 1pc;}

    #reloadIcon{
        display: inherit !important;
        position: absolute;
        right: 5%;
        font-size: 1.25pc;
        top: 2%;
        background: rgba(255, 0, 255, 0.2);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 4px 4px 1.25px rgba(255, 0, 255, 0.3);
        cursor: pointer;
    }
    
    #reloadIcon:active{
        box-shadow: none;
        transform: translateX(4px) translateY(4px);
    }

    #datesWithPrice{font-size: 1.2pc;}
}

::-webkit-scrollbar{
    display: none;
}

#reloadIcon{display: none;}

#calculateAmount{
    /* box-shadow: 5px 5px 0px rgba(0,0,0,0.5); */
    box-shadow: 5px 5px 0px #f5f5f5;
}

#calculateAmount:active{
    box-shadow: none;
    transform: translateX(5px) translateY(5px);
}
